body {
    background-color: black;
    text-align: center;
}

.action {
    font-size: 30px;
    width: 200px;
    margin: 10px auto;
    color: white;
}

.grid {
    width: 500px;
    height: 500px;
    margin: auto;
}

.cell {
    display: inline-block;
    background-color: white;
    margin: 1px;
    width: 48px;
    height: 48px;
}